{% extends "base.html" %}

{% block content %}
{% from "helpers/_form_helpers.html" import render_field %}
<div class="row">
    <div class="col-md-3">
    </div>
    <form method="POST" action="{{ url_for('index') }}" class="col-md-6">
        {% if error %}
        <div class="alert alert-danger">
            {{ error }}
        </div>
        {% endif %}
        {{ form.csrf_token }}
        <div class="form-group">
            {{ render_field(form.code, class="form-control" ,
                value=form.code.data if form.code.data != None) }}
        </div>
        <div class="form-group">
            {{ render_field(form.issue_date, id="datepicker", class="form-control",  placeholder="Ex: 31/09/2015" ,
                value=form.issue_date.data.strftime("%d/%m/%Y") if form.issue_date.data != None) }}
        </div>
        <div class="form-group">
            {{ render_field(form.institution, class="form-control") }}
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary btn-block" value="Verificar">
        </div>
    </form>
    <div class="col-md-3">
    </div>
</div>
{% endblock %}

{% block styles %}
<link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block scripts %}
<script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
<script>
    $('#datepicker').datepicker({
        uiLibrary: 'bootstrap4',
        format: 'dd/mm/yyyy'
    });
</script>
{% endblock %}