{% extends "base.html" %}

{% block content %}
{% from "helpers/_form_helpers.html" import render_field %}
<div class="row">
    <div class="col-md-3">
    </div>
    <form method="POST" action="{{ url_for('index') }}" class="col-md-6">
        {% if error %}
        <div class="alert alert-danger">
            {{ error }}
        </div>
        {% endif %}
        {{ form.csrf_token }}
        <div class="form-group">
            {{ render_field(form.code, class="form-control" ,
                value=form.code.data if form.code.data != None) }}
        </div>
        <div class="form-group">
            {{ render_field(form.issue_date, class="form-control",  placeholder="Ex: 31/09/2015" ,
                value=form.issue_date.data if form.issue_date.data != None) }}
        </div>
        <div class="form-group">
            {{ render_field(form.institution, class="form-control") }}
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary btn-block" value="Validate">
        </div>
    </form>
    <div class="col-md-3">
    </div>
</div>
{% endblock %}